:root {
  --neutro-dark: #3E3E3E;
  --neutro-medium: #7F7F7F;
  --neutro-light: #8F8F8F;
  --primary: #9F7435;
  --primary-light: #BA9C6B;
  --color-light: white;
}

* { box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  color: var(--neutro-dark);
}

.main-shelf {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  
  display: grid;
  grid-template: repeat(3, auto) / repeat(2, 50%);
  grid-template-areas: "header header"
                       "content-shelf content-shelf"
                       "footer footer";
}

.header { grid-area: header; }

.content_shelf { grid-area: content-shelf; }

.footer { grid-area: footer; }

.header, .content_shelf, .footer { padding: 0 2em 0 2em; }

.hidden {
  display: none;
}

.btn {
  text-decoration: none;
  color: var(--color-light);
  background-color: #9F7435;
  padding: 10px 50px 10px 50px;
  font-size: 14px;
  border: none;
}

.btn:hover { background-color: var(--primary-light); }

.btn--dark { background-color: var(--neutro-dark); }

.btn--dark:hover { background-color: var(--neutro-medium); }