@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --neutro-dark: #3E3E3E;
  --neutro-medium: #7F7F7F;
  --neutro-light: #8F8F8F;
  --primary: #9F7435;
  --primary-light: #BA9C6B;
  --color-light: white;
}

* { box-sizing: border-box; }

body {
  border: 1px solid blue;

  font-family: 'Poppins', sans-serif;
  color: var(--neutro-dark);
}

.main-shelf {
  border: 1px solid blueviolet;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  
  display: grid;
  grid-template: repeat(3, auto) / repeat(2, 50%);
  grid-template-areas: "header header"
                       "content-shelf content-shelf"
                       "footer footer";
}

.header, .content_shelf, .footer {
  padding: 0 2em 0 2em;
}

.header {
  border: 1px solid coral;

  grid-area: header;
}

.header .nav {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav .nav__left {
  border: 1px solid darkcyan;
  height: fit-content;
}

.header .nav .nav__right {
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: repeat(3);
  grid-auto-flow: column;
  column-gap: 30px;
  align-items: center;
}

.nav__right .nav__link {
  text-decoration: none;
  color: var(--neutro-dark);
}

.nav__right .nav__link:hover {
  color: var(--primary);
}

.nav__right .nav__link img {
  width: 25px;
  height: 25px;
}

.content_shelf {
  border: 1px solid greenyellow;
  
  grid-area: content-shelf;
}

.content_shelf .products {
  border: 1px solid darkgreen;
}

.content_shelf .products h1 {
  border: 1px solid sienna;

  text-align: center;
}

.content_shelf .products .products_grid{
  border: 1px solid orange;

  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  gap: 32px 16px;
}

.products .products_grid .product_card { border: 1px solid tomato; }

.product_card .product_card__image  {
  border: 1px solid fuchsia;

  width: 100%;
}

.product_card .product_card__info .product_card__name {
  font-size: 14px;
  font-weight: normal;
}

.product_card .product_card__info .product_card__price {
  font-size: 16px;
  font-weight: normal;
  color: var(--neutro-light);
}

.products .products_controls {
  border: 1px solid seagreen;

  padding: 75px 0 75px 0;
  text-align: center;
}

.btn {
  text-decoration: none;
  color: var(--color-light);
  background-color: #9F7435;
  padding: 10px 50px 10px 50px;
  font-size: 14px;
}

.btn:hover {
  background-color: var(--primary-light);
}


.footer {
  border: 1px solid fuchsia;
  
  grid-area: footer;
}

.footer .site_map {
  border: 1px solid darkblue;
  display: flex;
  flex-wrap: wrap;
  color: var(--neutro-light);
}

.footer .site_map .site_map__sections {
  width: 100%;
  list-style-type: none;
}

.site_map__sections .site_map__section a {
  text-decoration: none;
  line-height: 32px;
  color: var(--neutro-light);
}

.site_map__sections .site_map__section a:hover {
  color: var(--primary);
}

@media only screen and (min-width: 767px) {
  .header, .content_shelf, .footer {
    padding: 0 4em 0 4em;
  }

  .content_shelf .products .products_grid{
    grid-template: 1fr / repeat(3, 1fr);
  }

  .footer .site_map .site_map__sections {
    width: 50%;
  }
}

@media only screen and (min-width: 991px) {
  .content_shelf .products .products_grid{
    grid-template: 1fr / repeat(4, 1fr);
  }

  .footer .site_map .site_map__sections {
    width: 25%;
  }
}
